{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Login - Maintenance Portal{% endblock %}</title>
<link rel="icon" href="{% static "images/logo2.png" %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}?v={{ STATIC_VERSION }}">
</head>
  {% block content %}
<body>
<header>
  <nav class="navbar " >
    <div class="kvglogo"><img src="{%static 'images/kvgp-Logo.png' %}" alt="" height="80px" ></div>
    <div class="logo">KVG Polytechnic</div>
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a onclick="openLogin()">Track Status</a></li>
      <li><a href="https://kvgpolytechnic.org.in/">About</a></li>
      <li><button class="login-btn" onclick="openLogin()">Login</button></li>
    </ul>
  </nav>
</header>

<!-- Hero Section -->
<section class="hero" id="home">
  <div class="hero-content">
     <video autoplay muted playsinline width="300">
    <source src="{% static '' %}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <h1>Welcome to the College Maintenance Portal</h1>
   <b> <p>Report, track, and resolve maintenance issues quickly and efficiently.</p></b>
    <button class="main-btn" onclick="openLogin()" >Report an Issue</button>
  </div>
</section>

<!-- About Section -->
<section class="about">
  <h2>About the Portal</h2>
  <p>
    This portal helps students and staff easily report campus maintenance issues.
    Our goal is to keep your college safe, clean, and functional.
  </p>
</section>

<!-- Login Modal -->
<div id="loginModal" class="modal" >
  <div class="modal-content">
    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="text" id="username" name="username" placeholder="Username" required>
      <input type="password" id="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
      <button type="button" class="close" onclick="closeLogin()">Close</button>
    </form>
    <p id="loginMsg"></p>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>© 2023-26 CS BATCH | All Rights Reserved</p>
</footer>

<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}
