{% extends 'base.html' %}
{% block title %}Request Detail{% endblock %}
{% block content %}

<div class="card">
  <div class="card-header">
    {% if user.is_superuser or user.username == 'principal'%}
  <div class="text-end mt-3">
    <a href="{% url 'edit_request' req.pk %}" class="btn btn-warning">Edit Request</a>
  </div>
{% endif %}
   <h4> <strong>{{ req.title }}</strong> - <small>{{ req.branch }}</small></h4>
  </div>
  <div class="card-body">
    <p><strong>Branch:</strong> {{ req.branch }}</p>
    <p><strong>Description:</strong><br>{{ req.description }}</p>
    <p><strong>Status:</strong> {{ req.status }}</p>
    <p><strong>Admin Remark:</strong> {{ req.admin_remark|default:"None" }}</p>
    <p><small>Submitted: {{ req.date_submitted|date:'d M Y h:i A' }}</small></p>
    <hr>

    {% if items %}
      <h5>Selected Equipment</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Device</th>
            <th>Brand/Model</th>
            <th>Size</th>
            <th>Usage</th>
            <th>Remarks</th>
            <th>Quantity</th>
            <th>Price (₹)</th>
            <th>Subtotal (₹)</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.device }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.usage }}</td>
            <td>{{ item.remarks }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><strong>Total Amount:</strong> ₹{{ req.total_amount }}</p>
    {% else %}
      <em>No equipment selected.</em>
    {% endif %}
  </div>
</div>

{% endblock %}
